<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joe.input.mapper.ItStaffDictMapper">
  <resultMap id="BaseResultMap" type="com.joe.input.model.ItStaffDict">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="DEPT_CODE" jdbcType="VARCHAR" property="deptCode" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="INPUT_CODE" jdbcType="VARCHAR" property="inputCode" />
    <result column="EMP_NO" jdbcType="VARCHAR" property="empNo" />
    <result column="JOB" jdbcType="VARCHAR" property="job" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="INPUT_CODE_WB" jdbcType="VARCHAR" property="inputCodeWb" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, DEPT_CODE, NAME, INPUT_CODE, EMP_NO, JOB, TITLE, USER_NAME, INPUT_CODE_WB, PASSWORD, 
    CREATE_DATE
  </sql>
  <select id="selectByExample" parameterType="com.joe.input.model.ItStaffDictExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from it_staff_dict
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from it_staff_dict
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from it_staff_dict
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.joe.input.model.ItStaffDictExample">
    delete from it_staff_dict
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.joe.input.model.ItStaffDict">
    insert into it_staff_dict (ID, DEPT_CODE, NAME, 
      INPUT_CODE, EMP_NO, JOB, 
      TITLE, USER_NAME, INPUT_CODE_WB, 
      PASSWORD, CREATE_DATE)
    values (#{id,jdbcType=VARCHAR}, #{deptCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{inputCode,jdbcType=VARCHAR}, #{empNo,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{inputCodeWb,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.joe.input.model.ItStaffDict">
    insert into it_staff_dict
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="deptCode != null">
        DEPT_CODE,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="inputCode != null">
        INPUT_CODE,
      </if>
      <if test="empNo != null">
        EMP_NO,
      </if>
      <if test="job != null">
        JOB,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="inputCodeWb != null">
        INPUT_CODE_WB,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="deptCode != null">
        #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="inputCode != null">
        #{inputCode,jdbcType=VARCHAR},
      </if>
      <if test="empNo != null">
        #{empNo,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="inputCodeWb != null">
        #{inputCodeWb,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.joe.input.model.ItStaffDictExample" resultType="java.lang.Long">
    select count(*) from it_staff_dict
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update it_staff_dict
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.deptCode != null">
        DEPT_CODE = #{record.deptCode,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.inputCode != null">
        INPUT_CODE = #{record.inputCode,jdbcType=VARCHAR},
      </if>
      <if test="record.empNo != null">
        EMP_NO = #{record.empNo,jdbcType=VARCHAR},
      </if>
      <if test="record.job != null">
        JOB = #{record.job,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        TITLE = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null">
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.inputCodeWb != null">
        INPUT_CODE_WB = #{record.inputCodeWb,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update it_staff_dict
    set ID = #{record.id,jdbcType=VARCHAR},
      DEPT_CODE = #{record.deptCode,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      INPUT_CODE = #{record.inputCode,jdbcType=VARCHAR},
      EMP_NO = #{record.empNo,jdbcType=VARCHAR},
      JOB = #{record.job,jdbcType=VARCHAR},
      TITLE = #{record.title,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      INPUT_CODE_WB = #{record.inputCodeWb,jdbcType=VARCHAR},
      PASSWORD = #{record.password,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.joe.input.model.ItStaffDict">
    update it_staff_dict
    <set>
      <if test="deptCode != null">
        DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="inputCode != null">
        INPUT_CODE = #{inputCode,jdbcType=VARCHAR},
      </if>
      <if test="empNo != null">
        EMP_NO = #{empNo,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        JOB = #{job,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="inputCodeWb != null">
        INPUT_CODE_WB = #{inputCodeWb,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.joe.input.model.ItStaffDict">
    update it_staff_dict
    set DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      INPUT_CODE = #{inputCode,jdbcType=VARCHAR},
      EMP_NO = #{empNo,jdbcType=VARCHAR},
      JOB = #{job,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      INPUT_CODE_WB = #{inputCodeWb,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.joe.input.model.ItStaffDictExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from it_staff_dict
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>